<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/main.css">


<div class="container">
  <div class="row">
    <% @students.each do |student| %>
      <div class="col-md-4">
        <form action="/students" method="post">
          <input type="hidden" name="student_id" value="<%= student.id %>">
          <input type="submit" name="" value="<%= student.name %>" class="button-card">
        </form>
      </div>
    <% end %>
  </div>
</div>
